# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
.venv/
venv/
env/

# Ignore Django specific files
*.sqlite3
*.log

# Ignore media files
media/
static/

# Ignore various editor files
.vscode/
.idea/
*.sublime*

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore other temporary files and directories
*.log
*.tmp
.DS_Store

# Ignore git repository files
.git/
.gitignore
